html, body {
    margin: 10;
    padding: 10;
    text-align: center;
    font-family: 'Bellefair', serif;
    background: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

.grid {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px green;
    /* background: url('images/check.png');
    background-repeat: no-repeat;
    background-size: cover; */
    background: black;
}

.square {
    width: 20px;
    height: 20px;
}

.start {
    border-radius: 5%;
    background: palevioletred;
    border: none;
    padding: 12px 10px;
    font-size: 16px;
    font-style: bold;
}

.start:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.snake {
  background-color: greenyellow;
}

.apple {
    background-color: red;
    border-radius: 50%;
}